@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=PT+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  color: gray;
}
.categories{
   width: 50%; 
   height: 700px;
   margin-left:10px
}
.categories .categories-content{
  display: flex;
   margin-bottom: 20px 
}
.categories .categories-content .categories-content-card{
   padding:10px;
   background-color: gray;
}
.categories .categories-content .categories-content-card .categories-content-card-text{
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between
}

@media only screen and (max-width:770px){
  .row-col-pie-can .col-pie-can .pie-can{
    display: block;
    width:100%;
    height: 100%;
  }
}